<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <title>OAuth Approval - OAuth2 Example</title>
</head>
<body>
  <div class="container">
    <h1>OAuth Approval</h1>

    <p>Do you authorize <strong>"[[${authorizationRequest.clientId}]]"</strong> to access your protected resources?</p>

    <form th:action="@{/oauth/authorize}" method="post">
      <input name="user_oauth_approval" value="true" type="hidden"/>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Scope</th>
            <th scope="col">Approval / Denial</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="scope : ${scopes}">
            <td scope="row" th:text="${scope.key}"></td>
            <td>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" th:id="|${scope.key}_approve|" th:name="${scope.key}" value="true" th:checked="${scope.value == 'true'}"/>
                <label class="form-check-label" th:for="|${scope.key}_approve|">Approve</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" th:id="|${scope.key}_deny|" th:name="${scope.key}" value="false" th:checked="${scope.value != 'true'}"/>
                <label class="form-check-label" th:for="|${scope.key}_deny|">Deny</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Authorize</button>
    </form>
  </div>
</body>
</html>